@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@keyframes pulse-slow {
    0%, 100% { opacity: 0.6; }
    50% { opacity: 0.9; }
  }
  .animate-pulse-slow {
    animation: pulse-slow 8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }


  
    /* The reveal animation for the text */
    @keyframes reveal {
      0% { width: 100% } /* Start hidden (full width of the black overlay) */
      25% { width: 0% }   /* Revealed (overlay shrinks to zero) */
      75% { width: 0% }   /* Stay revealed */
      100% { width: 100% } /* Hide again (overlay expands back) */
    }
    
    /* Simulates the typing effect by limiting the cursor's movement */
    @keyframes typing {
      from { width: 100% }
      to { width: 0% }
    }

   /* Ensure these keyframes are exactly in your index.css */

/* index.css */

